// Color 

$primary: #425045;
$green-primary: #07a479;
// $green-primary: #24BF91; 
$darkgreen: #54af6e;
$synergy: #07a479;
$purple: #420d50;
$primary-semi: #f7d624;
$secondary: #ffae00;
$base: #404040;
$white: #fff; 
$grey: #dee2e6;
$blue: #4eabcf;